@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DynaPuff:wdth@87.5&family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap");

.question {
  border: 3px solid yellow;
  border-radius: 16px;
  color: white;
  margin-top: 5px;
  animation: blink 2.3s infinite;
}

#result {
  color: white;
}

* {
  gap: 0;
  margin: 0;
}

.questionp {
  margin: 10px 10px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: white;
  -webkit-text-stroke: 0.5px yellow;
}

input {
  margin: 2px 10px;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid yellow;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: yellow;
}

/* Button */

@keyframes blink {
  0% {
    border-color: yellow;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: yellow;
  }
}
@keyframes blinked {
  0% {
    border-color: rgb(0, 255, 38);
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
  100% {
    border-color: rgb(0, 255, 38);
  }
}

button {
  background-color: transparent;

  color: gold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button {
  border: 3px solid yellow;
  border-radius: 16px;
  margin-top: 5px;
  animation: blinked 1.17s infinite;
}

.information {
  background-color: transparent;

  color: gold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.information {
  border: 3px solid rgb(9, 255, 0);
  border-radius: 16px;
  margin-top: 5px;
  animation: blink 2.3s infinite;
}

.description img {
  display: block;
  margin: 0 auto;
}

/* Самая лучшая еда в мире */
.pet {
  font-size: 22px;
  text-shadow: 1px 1px 2px yellow;
  animation: color-change 2s infinite;
}

@keyframes color-change {
  0% {
    color: yellow;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: yellow;
  }
}

/* Кнопка результата */

@keyframes color-changes {
  0% {
    color: yellow;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: yellow;
  }
}

a {
  font-weight: bold;
  color: yellow;
  text-decoration: none;
  text-shadow: 1px 1px 2px yellow;
  animation: color-changes 0.5s infinite;
}

label {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.question input[type="radio"],
.question label {
  vertical-align: middle;
  transform: translateY(-2.5px);
}

/* Некие правки */
.description {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-image: url(./img/block-black3.jpg);
  border-radius: 0 0 30px 30px;
  padding: 10px 0;
  width: 100%;

  border: 3px solid yellow;
  animation: blink 2.3s infinite;
  transform: translate(-3px);
}

.pet {
  text-align: center;
}

/* Медиа запрос для мобильной адаптации */
@media only screen and (max-width: 600px) {
  .description {
    width: 90%;
    left: 5%;
  }
}

form {
  margin-top: 250px;
}
/* Если ты зашел сюда и решил взять код, то я дарю его тебе. Хьанал хуьйла! */
