@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wdth,wght@75..100,700&display=swap");

.question {
  border: 3px solid yellow;
  border-radius: 20px;
  color: white;
}

#result {
  color: white;
}
