@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DynaPuff:wdth@87.5&family=Open+Sans:wght@600&display=swap");

@keyframes blink {
  0% {
    border-color: yellow;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: yellow;
  }
}

.question {
  border: 3px solid yellow;
  border-radius: 16px;
  color: white;
  margin-top: 5px;
  animation: blink 2.3s infinite;
}

#result {
  color: white;
}

.questionp {
  margin: 10px 10px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: white;
  -webkit-text-stroke: 0.5px yellow;
}

input {
  margin: 3px 10px;
}

a {
  font-weight: bold;
  color: yellow;
  text-decoration: none;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid yellow;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: yellow;
}

button {
  background-color: transparent;

  color: gold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button {
  border: 3px solid yellow;
  border-radius: 16px;
  margin-top: 5px;
  animation: blink 2.3s infinite;
}

.description img {
  display: block;
  margin: 0 auto;
}
.pet {
  font-size: 22px;
  color: #4caf50;
  text-shadow: 1px 1px 2px yellow;
  animation: color-change 2s infinite;
}

@keyframes color-change {
  0% {
    color: yellow;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: yellow;
  }
}
