body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
}

h1 {
  color: white;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: white;
  -webkit-text-stroke: 0.5px yellow;
}
h3 {
  font-family: Arial, sans-serif;
  text-align: start;
  color: white;
}
.description img {
  display: block;
  margin: 0 auto;
}
/* Самая лучшая еда в мире */
.pet {
  font-size: 22px;
  text-shadow: 1px 1px 2px yellow;
  animation: color-change 2s infinite;
}

@keyframes color-change {
  0% {
    color: yellow;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: yellow;
  }
}

#randomNumber {
  border: 3px solid yellow;
  border-radius: 16px;
  margin-top: 5px;
  animation: blinked 0.17s infinite;
  font-size: 22px;
}

@keyframes blinked {
  0% {
    border-color: rgb(0, 255, 38);
  }
  50% {
    border-color: red;
  }
  100% {
    border-color: yellow;
  }
}

a {
  color: gold;
  text-decoration: none;
}
